<% page.posts.each(function(post) { %>
<article class="block">
    <header class="article-header">
        <h1><a href="<%- url_for(post.path) %>" class="article-title"><%= post.title %></a></h1>
        <p class="article-meta"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY-MM-DD') %></time>
        <%if (post.categories && post.categories.length) { %>
        /
        <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-category',
            style: 'none',
            separator: ' > '
        }) %>
        <% } %>
        </p>
    </header>
    <main class="article-content">
        <p class="article-abstract"><%= strip_html(post.content).substring(0, 200) %></p>
        <p><a href="<%- url_for(post.path) %>" class="article-more">Read More</a></p>
    </main>
</article>
<% }); %>

<% if (page.total > 1){ %>
<nav class="page-nav block">
    <%- paginator({prev_text: '&laquo; prev', next_text: 'next &raquo;'}) %>
</nav>
<% } %>