<article class="block">
    <header class="article-header">
        <h1>Articles tagged with “<%= page.tag %>”</h1>
    </header>
    <main class="article-content">
        <ul>
        <% page.posts.each(function(post) { %>
            <li><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY-MM-DD') %></time> &raquo; <a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% }) %>
        </ul>
    </main>
</article>

<% if (page.total > 1){ %>
<nav class="page-nav block">
    <%- paginator({prev_text: '&laquo; prev', next_text: 'next &raquo;'}) %>
</nav>
<% } %>